@{
    ViewBag.Title = "knowledgeEdit";
    Layout = "~/Views/Shared/_knolegeLayout.cshtml";
}
<link href="~/Areas/knowledge/Css/knowledgelist.css" rel="stylesheet" />
<script src="~/Areas/knowledge/js/knowledgeList.js"></script>
<style type="text/css">
   
</style>
<head>
    <title>知识库</title>
</head>

<div> <input type="submit" tabindex="3" onclick="CreateIndex()" value="维护索引" class="s_btn" style="margin-top:20px;"></div>
<div class="searchDiv">
    <span id="suggest-align" class="round">
        @*<a href="javascript:;" class="search-del" title="清空"></a>*@
        <input type="text" id="KeyValue" name="q" tabindex="1" class="input_key" value="" maxlength="100" autocomplete="off">
    </span>
    <span><input type="submit" onclick="queryList()" tabindex="3" value="搜一下" class="s_btn"></span>
    
    @*<input type="submit" tabindex="3" id="addknowledge" onclick="addknowledge()" value="我要分享" class="s_btn" style="margin-left:20px;">*@
</div>
<div class="listContentknowledgeEdit" style="">
    <ul id="listContent"></ul>
</div>
<div id="Pagination" class="pagination" style="width: 1024px; margin-left: auto; margin-right: auto;float:right;"></div>
<script id="showContentTemplate" type="text/html">
    {{each $data as item i}}
    <li style="border-top: 1px solid #f0f0f0;padding-bottom:20px;">
        <p class="titleknowledgeTitle" style="font-size:14px;"><span onclick="openDetaile('{{item.KnowledgeGUID}}')">{{item.Title}}</span></p>
        <p style="color: #999; padding-top: 10px; font-size: 12px;">
            创建人：{{item.CreateBy}} |&nbsp; 更新日期：{{item.UpdateDate | dateformatter:'yyyy-MM-dd'}} |&nbsp; 分类：{{item.DataType}}
            |&nbsp; <img src="/Content/img/view.png" style="vertical-align: sub;" title="查看次数" />&nbsp;{{item.ViewCount}}
        <p style="padding-top: 10px; font-size: 12px; ">摘要：{{item.Summary}}</p>
        <p style="padding-top:5px;font-size:12px;">{{item.ContentNoHtml | contentformatter}}</p>
    </li>
    {{/each}}
</script>

<script id="showResultContentTemplate" type="text/html">
    {{each $data as item i}}
    <li style="border-top: 1px solid #f0f0f0;padding-bottom:20px;">
        <p class="titleknowledgeTitle"><span onclick="openDetaile('{{item.KnowledgeGUID}}')">{{item.Title}}</span></p>
        <p style="color: #999;padding-top:10px;">
            创建人：{{item.CreateBy}} |&nbsp; 更新日期：{{item.UpdateDate | dateformatter:'yyyy-MM-dd'}} |&nbsp; 分类：{{item.DataType}}
            |&nbsp; <img src="/Content/img/view.png" style="vertical-align: sub;" title="查看次数" />&nbsp;{{item.ViewCount}}
        <p style="padding-top:10px;">摘要：{{item.Summary}}</p>
        <p style="padding-top:5px;">{{item.ContentNoHtml }}</p>
    </li>
    {{/each}}
</script>
<script>

</script>



