@{
    ViewBag.Title = "knowledgeEdit";
    Layout = "~/Views/Shared/_knolegeLayout.cshtml";
}
<link href="~/Areas/knowledge/Css/knowledgelist.css" rel="stylesheet" />
<script src="~/Areas/knowledge/js/MyknowledgeList.js"></script>
<style type="text/css">

</style>
<head>
    <title>知识库|我的分享</title>
</head>

<div class="listContentknowledgeEdit" style="">
    <div style="line-height:35px;">
        当前位置：
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a href="/knowledge/knowledge/Index">知识库</a>
            <a><cite>我的分享</cite></a>
        </span>
    </div>
    <ul id="listContent"></ul>
</div>
<div id="Pagination" class="pagination" style="width: 1024px; margin-left: auto; margin-right: auto;float:right;"></div>
<script id="showContentTemplate" type="text/html">
    {{each $data as item i}}
    <li style="border-top: 1px solid #f0f0f0;padding-bottom:20px;">
        <p class="titleknowledgeTitle" style="font-size:14px;"><span onclick="openDetaile('{{item.knowledgeGUID}}')">{{item.Title}}</span></p>
        <p style="padding-top: 10px; font-size: 12px; ">摘要：{{item.Summary}}</p>
        <p style="padding-top:5px;font-size:12px;">{{item.ContentNoHtml | contentformatter}}</p>
        <p style="color: #999; padding-top: 10px; font-size: 12px;">
            发布人：{{item.CreateBy}} 
            |&nbsp; 更新日期：{{item.UpdateDate}} 
            |&nbsp; 分类：{{item.DataType}}
            |&nbsp; <span><i class="fa fa-eye" ></i>&nbsp;阅读({{item.ViewCount}})</span>
            |&nbsp;&nbsp;<span class="editknowledgeBtn" onclick="Editknowledge('{{item.knowledgeGUID}}')"><i class="fa fa-edit"></i> 编辑</span>
        </p>
</li>
    {{/each}}
</script>
<script>

</script>



