@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_knolegeLayout.cshtml";
}


<div class="main layui-clear" style=" width: 500px; margin: auto;margin-top:100px;">
    <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <span class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证</label>
                <div class="layui-input-inline">
                    <input type="text" id="verifycode" name="verifycode" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <span>
                    <img id="login_verifycode" class="img_verifycode" src="~/Login/VerifyCode" width="100" height="30" alt="点击切换验证码"
                         title="点击切换验证码" style="cursor: pointer; padding-top: 2px; padding-left: 5px;" />
                </span>
    </div>
    <div class="layui-form-item" style="margin-top:20px;">
        <button id="btnlogin" class="layui-btn" lay-filter="*" lay-submit="" style="width:300px;">立即登录</button>
    </div>
</div>
</div>
<script>
        //回车键
        document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                var btlogin = document.getElementById("btnlogin");
                btnlogin.click();
            }
        }
        //初始化
        $(function () {
            $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 80);
            $(window).resize(function (e) {
                $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 80);
                e.stopPropagation();
            });
            //错误提示
            if (top.$.cookie('MySoft_login_error') != null) {
                switch (top.$.cookie('MySoft_login_error')) {
                    case "Overdue":
                        formMessage('未登录或登录已超时,请重新登录');
                        break;
                    case "OnLine":
                        formMessage('您的帐号已在其它地方登录,请重新登录');
                        break;
                    case "-1":
                        formMessage('未知错误,请重新登录');
                        break;
                    default:
                        break;
                }
                top.$.cookie('My_autologin', '', { path: "/", expires: -1 });
            }
            //是否自动登录
            if (top.$.cookie('My_autologin') == 1) {
                $("#autologin").attr("checked", 'true');
                $("#username").val(top.$.cookie('My_username'));
                $("#password").val(top.$.cookie('My_password'));
                CheckLogin(1);
            }
            //设置下次自动登录
            $("#autologin").click(function () {
                if (!$(this).attr('checked')) {
                    $(this).attr("checked", 'true');
                    top.$.cookie('My_autologin', 1, { path: "/", expires: 7 });
                } else {
                    $(this).removeAttr("checked");
                    top.$.cookie('My_autologin', '', { path: "/", expires: -1 });
                    top.$.cookie('My_username', '', { path: "/", expires: -1 });
                    top.$.cookie('My_password', '', { path: "/", expires: -1 });
                }
            })
            //登录按钮事件
            $("#btnlogin").click(function () {
                var $username = $("#username");
                var $password = $("#password");
                var $verifycode = $("#verifycode");
                if ($username.val() == "") {
                    $username.focus();
                    formMessage('请输入账户。');
                    return false;
                } else if ($password.val() == "") {
                    $password.focus();
                    formMessage('请输入密码。');
                    return false;
                } else if ($verifycode.val() == "") {
                    $verifycode.focus();
                    formMessage('请输入验证码。');
                    return false;
                } else {
                    CheckLogin(0);
                }
            })
            //点击切换验证码
            $("#login_verifycode").click(function () {
                $("#verifycode").val('');
                $("#login_verifycode").attr("src", "/Login/VerifyCode?time=" + Math.random());
            });
        })
        //登录验证
        function CheckLogin(autologin) {
            $("#btnlogin").addClass('active').attr('disabled', 'disabled');
            $("#btnlogin").find('span').hide();

            var username = $.trim($("#username").val());
            var password = $.trim($("#password").val());
            var verifycode = $.trim($("#verifycode").val());
            if (top.$.cookie('My_password') == "" || top.$.cookie('My_password') == null) {
                password = $.md5(password);
            }
            $.ajax({
                url: "/Login/CheckLogin",
                data: { username: $.trim(username), password: $.trim(password), verifycode: verifycode, autologin: autologin },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        if (top.$.cookie('My_autologin') == 1) {
                            top.$.cookie('My_username', $.trim(username), { path: "/", expires: 7 });
                            top.$.cookie('My_password', $.trim(password), { path: "/", expires: 7 });
                        }
                        window.location.href = '/knowledge/knowledge/Index';
                    } else {
                        if (data.message.length >= 30) {
                            dialogAlert(data.message, 0)
                        } else {
                            formMessage(data.message);
                        }
                        $("#btnlogin").removeClass('active').removeAttr('disabled');
                        $("#btnlogin").find('span').show();
                        $("#login_verifycode").trigger("click");
                    }
                }
            });
        }
        //提示信息
        function formMessage(msg, type) {
            if (type == 1) {
                _class = "login_tips-succeed";
            }
            dialogAlert(msg);
        }
</script>
