@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width" />
    <title>注 册</title>
</head>
<body>
    <div class="layui-form layui-form-pane">
        <div class="main layui-clear" style=" width: 500px; margin: auto;margin-top:100px;">
            <fieldset class="layui-elem-field layui-field-title" style="">
                <legend>注册</legend>
            </fieldset>
            <form id="registerForm">
                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="UserName" name="UserName" lay-verify="email" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        将会成为您唯一的登入名
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="NickName" maxlength="10" name="NickName" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        建议为真实姓名
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="Password" maxlength="16" name="Password" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        6到16个字符
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" maxlength="16" id="confirmPassword" name="confirmPassword" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_vercode" class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="Vercode" name="vercode" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                    </div>
                    <span>
                        <img id="login_verifycode" class="img_verifycode" src="~/Login/VerifyCode" width="100" height="30" alt="点击切换验证码"
                             title="点击切换验证码" style="cursor: pointer; padding-top: 2px; padding-left: 5px;" />
                    </span>
                </div>
            </form>
            <div class="layui-form-item">
                <button id="btnRegister" class="layui-btn" lay-filter="*" lay-submit="" style="width: 300px; background-color: #1E9FFF;">立即注册</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        //点击切换验证码
        $("#login_verifycode").click(function () {
            $("#verifycode").val('');
            $("#login_verifycode").attr("src", "/Login/VerifyCode?time=" + Math.random());
        });

        var $userName = $("#UserName");
        var $password = $("#Password");
        var $vercode = $("#Vercode");
        var $btnRegister = $("#btnRegister");
        var $nickName = $("#NickName");
        var $hidReturnUrl = $("#hidReturnUrl");
        var $confirmPassword = $("#confirmPassword");
        var $imgOutPutVerifyCode = $("#login_verifycode");
        $btnRegister.click(function (e) {
            if ($userName.val() == "") {
                $userName.focus();
                layer.msg('账号不能为空！')
            } else if ($nickName.val() == "") {
                $nickName.focus();
                layer.msg('妮称不能为空！')
            } else if ($password.val() == "") {
                $password.focus();
                layer.msg('密码不能为空！')
            }
            else if ($confirmPassword.val() == "") {
                $confirmPassword.focus();
                layer.msg('请再次确认密码！')
            }
            else if ($password.val() != $confirmPassword.val()) {
                $password.focus();
                layer.msg('两次密码不一致！')
            } else if ($vercode.val() == "") {
                $vercode.focus();
                layer.msg('验证码不能为空！')
            } else {
                layer.msg('加载中', {
                    icon: 16
             , shade: 0.01
                });
                $.ajax({
                    url: "/Login/Register",
                    data: { Account: $userName.val(), RealName: $nickName.val(), Password: $password.val(), verifycode: $vercode.val() },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.state == "success") {
                            window.setTimeout(layer.msg('注册成功,请登录'), 3000);
                            window.location.href = '/Login/Index';
                        } else {
                            layer.msg(data.message);
                            $("#login_verifycode").trigger("click");
                        }
                    }
                });
            }
        });
    });

    function validate() {

    }
</script>